@tailwind base;
@tailwind components;
@tailwind utilities;

.odds {
	max-width: 250px;
}

.row {
	margin-bottom: 2px;
}

.container {
	background-color: #222321;
	color: white;
	margin: 20px;
	padding: 20px;
	border-radius: 15px;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.description {
	padding: 20px 0px 20px 0px;
}

.footer {
	padding: 10px 0px 0px 0px;
}